@import url("https://fonts.googleapis.com/css?family=Courgette");
$courgette: "Courgette", cursive;

@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC");
$playFair: "Playfair Display SC", serif;

@import url("https://fonts.googleapis.com/css?family=Abel");
$abel: "Abel", sans-serif;

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
$FontAwesome: "FontAwesome";