.nav-bar {
	display: flex;
	font-size: 45px;
	align-items: baseline;
	background-color: #eeeeee;
	flex-direction: column;
}

h1.name {

	text-decoration: none;
	padding: 10px;
	color: #058ed9;
	font-family: $courgette;
}
h1.name:hover {
	color: #fc5130;
}

#nameLink {
	text-decoration: none;
	padding: 10px;
	align-self: center;
}
body {
	background-color: #ffffff;
	font-family: $abel;
}

a.login {
	text-decoration: none;
	color: #058ed9;
	font-family: $courgette;
	font-size: 30px;
	padding-left: 20px;
}
