.stock-show {
	padding: 20px;
	height: 100%;
	border-collapse: collapse;
	display: flex;
	flex-direction: column;
	// display: table;
}
.stock-basic-info {
	display:flex;
	width: 100%;
	justify-content: space-between;
}
.stock-show-info {
	display: flex;
}
.stock-show-page {
	display: flex;
}
.stock-show-chart {
	display: flex;
}
.stock-basic-info {
	display: flex;
	padding-bottom: 20px;
	font-size: 20px;
	align-self: center;
}

.stock-data {
	display: flex;
	justify-content: space-between;
}
.react-stock-chart {
	border-style: solid;
	border-color: lightgray;
	border-width: 0.5px;
	float: left;
	border-top: none;
}

#news-index {
	display: table-row;
	vertical-align: bottom;
	height: 1px;
}
#symbol,
#price,
#volume,
#percent-change,
#float,
#news-header,
#company-name {
	display: flex;
	padding-top: none;
	flex-direction: column;
}
i {
	padding: 5px;
}
select#type {
	display: none;
}
label {
	display: none;
}
table,
th,
td {
	border: 1px solid black;
}
#symbol {
	font-weight: 1400;
}
#company-name,
#price,
#volume,
#percent-change,
#float {

	font-weight: 1400;
}
#news-header {
	border-width: 0.5px;
}
