
<h1>Hi <%= @user.fname %>, </h1>
<p>
Welcome to the 6th Cent! Click on the link below to activate your account:


<a href="http://www.6thcent.com/api/users/<%=(@user.activation_digest)%>/confirm_email"> Follow Me! </a>

Thank You,
  6th Cent!

  </p>