
<h1>Hi <%= @user.fname %>, </h1>
<p>
Welcome to the Penny Pincher! Click on the link below to activate your account:

<a href=<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>>Here<a>

Thank You,
  Penny Pincher!

  </p>