<h1>Password reset</h1>

<p>To reset your password click the link below:</p>
<%link =edit_password_reset_url(@user.reset_token, email: @user.email)%>
<% splits = link.split("/")
    parsed = splits[0...3].join("/") + "/#/" + splits[3..-1].join("/")
 %>
<%= link_to "Reset password",  parsed %>

<p>This link will expire in two hours.</p>

<p>
If you did not request your password to be reset, please ignore this email and
your password will stay as it is.
</p>
